all hidden files
.*
!/.gitignore
!.classpath
!.project

# extensions
*.7z
*.a
*.app
*.bak
*.bz2
*.bzip
*.cab
*.class
*.deb
*.dll
*.dmg
*.dylib
*.ear
*.egg
*.exe
*.gem
*.gz
*.iml
*.ipr
*.iso
*.iws
*.jar
*.ko
*.la
*.lai
*.launch
*.lib
*.lo
*.lzma
*.msi
*.msm
*.msp
*.o
*.out
*.pydevproject
*.rar
*.rpm
*.slo
*.so
*.so.*
*.swp
*.tar
*.tmp
*.war
*.xpi
*.xz
*.zip

#svc files
.cvsignore
CVS
CVS/**

#bin&build files
bin/
build/
dist/
tmp/
target/
nbbuild/
nbdist/
nbproject/private/
local.properties

#other
$RECYCLE.BIN/
*-Ex.R
*~
*~.nib
Desktop.ini
Icon
Thumbs.db
ehthumbs.db
nb-configuration.xml
nbactions.xml
