<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="StratiCrush"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/org.ifpen.stratricrush/css/default.css">
         </property>
         <property
               name="appName"
               value="StratiCrush">
         </property>
         <property
               name="windowImages"
               value="icons/chain_mesh_icon.png">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://org.ifpen.stratricrush/straticrush.parts.LifeCycleManager">
         </property>
      </product>
   </extension>

</plugin>
